<!DOCTYPE html>
<html     xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Effort</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <th:block th:replace="base :: head"></th:block>
</head>

<body>
	
	<th:block th:replace="base :: nav"></th:block>
	
	<div class="container topgap">
		<div class="row">
			<div id="sidebar" class="col-sm-3 col-md-3 col-lg-3">
				<p>Cats are gray and fluffy they are the best animals in the animal kingdom</p>
				<p>Cats are gray and fluffy they are the best animals in the animal kingdom</p>
				<p>Cats are gray and fluffy they are the best animals in the animal kingdom</p>
				<p>Cats are gray and fluffy they are the best animals in the animal kingdom</p>
			</div>
			<div id="chatbox" class="col-sm-9 col-md-9 col-lg-9">
				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="form-group">
					<input id="userinput" class="form-control" type="text"/>
					
				</div>		
			</div>
		</div>
	</div>

	<script>
	
// 		document.getElementById('userinput').onkeydown = function(e){
// 			if(e.keyCode == 13){
// 				var message = $("#userinput").value;
// 				getMessage(message);
// 				$("#userinput").value = "";
			
// 			}
			   
// 		};
		
		$("#userinput").keydown(function(event){
			if (event.which == 13){
				var message = $("#userinput").val();
				getMessage(message);
				$("#userinput").val("");
			}
		});
		
		function getMessage(message){
			$.get('/getmessages',{message : message}, 
				function(data){
					$("#chatbox").html(data);
					//console.log(data);
				}
			);
		}
	
	</script>

</body>
</html>