
<!DOCTYPE html>
<html     xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit Profile</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<div class="container">
    <br /><br /><br />
    <h4>Password Page</h4>
    <form autocomplete="off" action="#" th:action="@{/passwordchange}"
          th:object="${user}" method="post">
        <div class="form-group">
            <label for="password">Old Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark></label>
            <input type="password" class="form-control" id="oldpassword" name= "old_pass" placeholder="Password" />   
        </div>
        
        <div class="form-group">
            <label for="password">New Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark></label>
            <input type="password" class="form-control" id="newpassword" name= "new_pass" placeholder="Password"  />
        </div>
         <div class="form-group">
            <label for="password">Confirm New Password <mark><strong><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span></strong></mark></label>
            <input type="password" class="form-control" id="confirmnewpassword" name= "confirm_new_pass" placeholder="Password"  />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div><!-- /.container -->
<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>